body{
  background-color: black;
}
 
 

a{
  color: white;
  text-decoration: none;
  list-style-type: none;
 
  padding: 5px;
}

div{
 padding: 10px;
}

.div-with-bg
{
    background-image: url('https://images.unsplash.com/photo-1623692746862-b2e07bedef7e?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTkwODcxOTJ8&ixlib=rb-4.0.3&q=85');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;

}