body{
  background-color: black;
}
 
 

a{
  color: white;
  text-decoration: none;
  list-style-type: none;
 
  padding: 5px;
}

div{
 padding: 10px;
}

.div-with-bg
{
    background-image: url("/images/mountain_goat.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;

}